*
{
    background-color: gray;
    color: white;
    font-size: 20px;
}

input[type=submit], input[type=number]
{
    background-color: white;
    color: black;
}

#menu 
{
    width: 100%;
    float: left;
    overflow: hidden;
    background-color:lightgrey;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li 
{
    float: left;
}
  
li a 
{
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-style: solid;
    background-color: lightgrey;
}

li a:active
{
    background-color:darkgrey;
}
  
li a:hover 
{
    background-color:darkgrey;
}